header.header
  nav.header__menu
    ul.header__list
      li.header__list-item 
        a.header__list-link Меню
      li.header__list-item 
        a.header__list-link Новости
      li.header__list-item 
        a.header__list-link О Нас